@charset "UTF-8";



header {
    border: 2px solid black;
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

nav {
    border: 2px solid black;
    height: 190px;
    width: 130px;
    padding-top: 40px;
    padding-left: 106px;
}

article h1 {
    border: 2px solid black;
    font-size: 4em;
}

div.containerHeaderNav {
                         
}