@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url(imagens/360_F_518776302_XZQkgR5kuSZyuchfvOT2jT0dhvj3E7BB.jpg) fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    text-align: center;
    margin: 20px;
}

nav {
    text-align: center;
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 0px 5px 0px 5px;
}

nav a#log {
    text-decoration: underline;
}

nav a#sign{
    color: white;
    background-color: black;
    border-radius: 7px;
}

a:hover {
    text-decoration: underline;
    color: gray;
}

main article > h1 {
    text-align: left;
    width: 400px;
    margin: auto;
    font-size: 4em;
}

main article > p {
    width: 400px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

main article > a {
    border: 2px solid black;
    margin: auto;
    display: block;
    width: 400px;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 7px;
    text-align: center;
}
